source https://api.nuget.org/v3/index.json
storaget: none

group Analyzers
  storaget: none
  source https://api.nuget.org/v3/index.json
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget StyleCop.Analyzers prerelease

group Test
  storaget: none
  source https://api.nuget.org/v3/index.json
  nuget NUnit

group Benchmark
  storaget: none
  source https://api.nuget.org/v3/index.json
  nuget BenchmarkDotNet.Diagnostics.Windows
  nuget Newtonsoft.Json