source https://api.nuget.org/v3/index.json

group Analyzers
  storaget: none
  source https://api.nuget.org/v3/index.json
  nuget StyleCop.Analyzers prerelease
  nuget Gu.Analyzers

group Test
  storaget: none
  source https://api.nuget.org/v3/index.json
  nuget NUnit

group Benchmark
  storaget: none
  source https://api.nuget.org/v3/index.json
  nuget BenchmarkDotNet.Diagnostics.Windows